# To confirm its working
fastapi
pydantic
uvicorn

# For running the model
pandas
transformers
datasets
peft

# For the youtube link & comment scrapper
google-api-python-client
python-dotenv

# For comment processing
nltk
unidecode

# For embeddings/semantic simularity
scikit-learn
gensim
requests